In [97]:
import pandas as pd

In [98]:
data = pd.read_csv('Downloads/athlete_events.csv')

In [99]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**1. How old were the youngest male and female participants of the 1996 Olympics?**

16 and 15
<p>14 and 12</p>
<p>16 and 12</p>
<p>13 and 11</p>

In [16]:
new_data = data.loc[(data['Year'] == 1996) & (data['Sex'] == 'M')]
new_data.sort_values(by = 'Age')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
87416,44326,Gwon Gyeong-Min,M,14.0,165.0,60.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Platform,NaN
170448,85647,Ng Sui,M,15.0,NaN,NaN,Hong Kong,HKG,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Platform,NaN
139132,69887,"Keng Liat ""Alex"" Lim",M,15.0,178.0,63.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Backstroke,NaN
139133,69887,"Keng Liat ""Alex"" Lim",M,15.0,178.0,63.0,Malaysia,MAS,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Backstroke,NaN
80392,40801,Daniel A. Glomb,M,15.0,178.0,80.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119298,60395,Boureima Kimba,M,NaN,NaN,NaN,Niger,NIG,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's 100 metres,NaN
148866,74668,Abdou Manzo,M,NaN,NaN,NaN,Niger,NIG,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Men's Marathon,NaN
181426,91182,Raymond Anthony Papa,M,NaN,NaN,NaN,Philippines,PHI,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Freestyle,NaN
181427,91182,Raymond Anthony Papa,M,NaN,NaN,NaN,Philippines,PHI,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 100 metres Backstroke,NaN
181428,91182,Raymond Anthony Papa,M,NaN,NaN,NaN,Philippines,PHI,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Backstroke,NaN

In [100]:
new_data = data.loc[(data['Year'] == 1996) & (data['Sex'] == 'F')]
new_data.sort_values(by = 'Age')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
93850,47506,Hem Reaksmey,F,12.0,175.0,65.0,Cambodia,CAM,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN
79034,40133,Cerian Gibbes,F,13.0,NaN,NaN,Trinidad and Tobago,TTO,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Breaststroke,NaN
78869,40035,Mira Ghniem,F,13.0,NaN,NaN,Jordan,JOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Individual Medley,NaN
172477,86657,No Ju-Hui,F,13.0,172.0,55.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 200 metres Breaststroke,NaN
33106,17045,Byeon Hye-Yeong,F,13.0,166.0,61.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66457,33993,Daria Camilla Fantoni,F,54.0,173.0,61.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN
88528,44891,Ulla Margareta Mileva Hkansson (Svenfelt-),F,58.0,170.0,55.0,Sweden,SWE,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Team",NaN
88527,44891,Ulla Margareta Mileva Hkansson (Svenfelt-),F,58.0,170.0,55.0,Sweden,SWE,1996 Summer,1996,Summer,Atlanta,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN
162717,81706,Moosaka,F,NaN,NaN,NaN,Uganda,UGA,1996 Summer,1996,Summer,Atlanta,Table Tennis,Table Tennis Women's Singles,NaN
162718,81706,Moosaka,F,NaN,NaN,NaN,Uganda,UGA,1996 Summer,1996,Summer,Atlanta,Table Tennis,Table Tennis Women's Doubles,NaN

**Answer: 14 and 12**

**2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.**

Hint: here and further if needed drop duplicated sportsmen to count only unique ones.

0.2
<p>1.5</p>
<p>2.5</p>
<p>7.7</p>

In [36]:
data.drop_duplicates(subset = 'ID', inplace = True, keep = 'first')

In [22]:
new2000 = data.loc[(data['Year'] == 2000) & (data['Sex'] == 'M') & (data['Sport'] == 'Gymnastics')]
man2000 = data.loc[(data['Year'] == 2000) & (data['Sex'] == 'M')]
new2000.sort_values(by = 'Age')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
89397,45312,Paul Elbert Hamm,M,17.0,165.0,62.0,United States,USA,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
89384,45311,Morgan Carl Hamm,M,17.0,165.0,65.0,United States,USA,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
58621,29996,Dmitry Nikolayevich Drevin,M,18.0,170.0,59.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
263855,132038,Xing Aowei,M,18.0,171.0,64.0,China,CHN,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
104052,52652,Damian Mark Istria,M,18.0,167.0,71.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131535,66202,Lzaro Lamelas Ramrez,M,26.0,163.0,59.0,Cuba,CUB,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
92707,46975,Craig Heap,M,27.0,167.0,65.0,Great Britain,GBR,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
104611,52946,Norimasa Iwai,M,27.0,157.0,55.0,Japan,JPN,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
142219,71348,Eric Lpez Ros,M,27.0,162.0,62.0,Cuba,CUB,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
113511,57505,Dimitri Karbanenko,M,27.0,174.0,70.0,France,FRA,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN

In [23]:
man2000.shape

(4262, 15)

In [101]:
new2000.shape[0] / man2000.shape[0] * 100

1.4781792585640545

**Answer: 1.5**


**3.What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.**

178.5 and 7.2
179.4 and 10
180.7 and 6.7
182.4 and 9.1

In [29]:
w2000 = data.loc[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')]
print(w2000['Height'].mean(), w2000['Height'].std())

182.38732394366198 9.139462087892174

**Answer: 182.4 and 9.1**

**4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?**

Judo
Bobsleigh
Weightlifting
Boxing

In [35]:
sp2002 = data.loc[(data['Year'] == 2002)]
sp2002.sort_values (by = 'Weight', ascending = False)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN
129595,65246,Kevin Kuske,M,23.0,196.0,116.0,Germany-2,GER,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,Gold
270556,135315,Zsolt Zsombor,M,30.0,193.0,115.0,Hungary,HUN,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
60488,30980,Dalibor uri,M,26.0,196.0,113.0,Serbia and Montenegro,SCG,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
128125,64528,Pavel Kubina,M,24.0,196.0,113.0,Czech Republic,CZE,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233264,117005,Yevgeny Sviridov,M,27.0,183.0,NaN,Uzbekistan,UZB,2002 Winter,2002,Winter,Salt Lake City,Figure Skating,Figure Skating Mixed Pairs,NaN
234583,117636,David Szurman,M,20.0,187.0,NaN,Czech Republic,CZE,2002 Winter,2002,Winter,Salt Lake City,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
253219,126805,"Maria Margaretha Antje ""Marja"" Vis",F,25.0,NaN,NaN,Netherlands,NED,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Women's 5,000 metres",NaN
268939,134557,Zhang Weina,F,23.0,166.0,NaN,China,CHN,2002 Winter,2002,Winter,Salt Lake City,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
270190,135168,Artyom Znachkov,M,23.0,182.0,NaN,Armenia,ARM,2002 Winter,2002,Winter,Salt Lake City,Figure Skating,Figure Skating Mixed Pairs,NaN

**Answer: Bobsleigh**

**5.How many times did Pawe Abratkiewicz participate in the Olympics held in different years?**

0
1
2
3

In [55]:
data4 = data.copy()
data4.drop_duplicates(subset = ['Year', 'Name'], inplace = True, keep = 'first')
data4

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [57]:
data4 = data4.loc[(data4['Name'] == 'Pawe Abratkiewicz')]
data4

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN

**Answer: 3**

**6.How many silver medals in tennis did Australia win at the 2000 Olympics?**

0
1
2
3

In [60]:
data6 = data.loc[(data['Year'] == 2000) & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Silver') & (data['Team'] == 'Australia')]
data6

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

**Answer: 2**

**7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in Medal column.**

Yes
No

In [71]:
data7 = data.loc[(data['Year'] == 2016) & ((data['Team'] == 'Switzerland') | (data['Team'] == 'Serbia')) & (data['Medal'].notna())]
data7

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4417,2517,Milan Aleksi,M,30.0,193.0,96.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Men's Water Polo,Gold
12203,6632,Timea Bacsinszky,F,27.0,170.0,62.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Tennis,Tennis Women's Doubles,Silver
22125,11656,Stefan Birevi,M,26.0,210.0,104.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,Silver
24291,12738,Bogdan Bogdanovi,M,23.0,197.0,99.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,Silver
24293,12740,Tijana Bogdanovi,F,18.0,172.0,52.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241429,120935,Marko Tomievi,M,26.0,174.0,80.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",Silver
242890,121635,Lucas Tramr,M,26.0,183.0,75.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Lightweight Coxless Fours,Gold
251194,125792,Stefana Veljkovi,F,26.0,190.0,76.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver
270111,135132,Bojana ivkovi,F,28.0,186.0,72.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver
270370,135245,Milenko Zori,M,27.0,179.0,73.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",Silver

In [75]:
serbia = data.loc[(data['Year'] == 2016) & (data['Team'] == 'Serbia') & (data['Medal'].notna())]
serbia.shape[0]

54

In [76]:
swit = data.loc[(data['Year'] == 2016) & (data['Team'] == 'Switzerland') & (data['Medal'].notna())]
swit.shape[0]

11

**Answer: Yes**

**8. What age category did the fewest and the most participants of the 2014 Olympics belong to?**

[45-55] and [25-35) correspondingly
[45-55] and [15-25) correspondingly
[35-45] and [25-35) correspondingly
[45-55] and [35-45) correspondingly

In [108]:
data4445 = data.loc[(data['Year'] == 2014) & (data['Age'] > 44) & (data['Age'] < 56)]
data2534 = data.loc[(data['Year'] == 2014) & (data['Age'] > 24) & (data['Age'] < 35)]
data1524 = data.loc[(data['Year'] == 2014) & (data['Age'] > 14) & (data['Age'] < 25)]
data3545 = data.loc[(data['Year'] == 2014) & (data['Age'] > 34) & (data['Age'] < 46)]
data3544 = data.loc[(data['Year'] == 2014) & (data['Age'] > 34) & (data['Age'] > 45)]
data2534
data4445

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
54852,28109,Gary di Silvestri,M,47.0,183.0,82.0,Dominica,DMA,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's 15 kilometres,NaN
105458,53346,John Jahr,M,48.0,184.0,NaN,Germany,GER,2014 Winter,2014,Winter,Sochi,Curling,Curling Men's Curling,NaN
233597,117158,Ann E. Swisshelm (-Silver),F,45.0,175.0,72.0,United States,USA,2014 Winter,2014,Winter,Sochi,Curling,Curling Women's Curling,NaN
254305,127321,Hubertus Rudolph von Frstenberg-von Hohenlohe-...,M,55.0,183.0,77.0,Mexico,MEX,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
257640,129024,Winston Alexander Watts,M,46.0,182.0,107.0,Jamaica,JAM,2014 Winter,2014,Winter,Sochi,Bobsleigh,Bobsleigh Men's Two,NaN

**Answer: the fewest 44-55, the most 25-35**

**9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?**

Yes, Yes
Yes, No
No, Yes
No, No

In [86]:
data9 = data.loc[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')]
data9

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [87]:
data10 = data.loc[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')]
data10

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
935,529,Karl Gustaf Emanuel Abrahamsson,M,31.0,NaN,NaN,Sweden,SWE,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1187,665,Gilbert Achard-Picard,M,29.0,NaN,NaN,France-2,FRA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN
1439,802,Tadeusz Ralf Adamowski,M,26.0,177.0,70.0,Poland,POL,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
1454,810,Bridget Shirley Adams (-Bengough),F,19.0,NaN,NaN,Great Britain,GBR,1948 Winter,1948,Winter,Sankt Moritz,Figure Skating,Figure Skating Women's Singles,NaN
2707,1508,Enrico Airoldi,M,24.0,NaN,NaN,Italy-2,ITA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270713,135383,Annelore Zckert (-Zrost),F,22.0,NaN,NaN,Austria,AUT,1948 Winter,1948,Winter,Sankt Moritz,Alpine Skiing,Alpine Skiing Women's Downhill,NaN
270714,135383,Annelore Zckert (-Zrost),F,22.0,NaN,NaN,Austria,AUT,1948 Winter,1948,Winter,Sankt Moritz,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
270863,135463,Hans Zurbriggen,M,27.0,NaN,NaN,Switzerland,SUI,1948 Winter,1948,Winter,Sankt Moritz,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
270881,135466,Robert Zurbriggen,M,30.0,NaN,NaN,Switzerland,SUI,1948 Winter,1948,Winter,Sankt Moritz,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
270882,135466,Robert Zurbriggen,M,30.0,NaN,NaN,Switzerland,SUI,1948 Winter,1948,Winter,Sankt Moritz,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

**Answer: no,yes**

**10.What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?**

16
24
26
34

In [89]:
data1995 = data.loc[(data['Year'] == 1995)]
data1995

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [96]:
data2016 = data.loc[(data['Year'] == 2016)].copy()
data2016.drop_duplicates(subset = 'Sport', inplace = True, keep = 'first')
data2016.shape

(34, 15)

**Answer: 34**